/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2015, 11:27:42 PM
    Author     : Thanh Duoc
*/

.content-wap{
    max-width: 640px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
#title-wap{
    text-align: left;
    margin-left: 10px;
    font-size: 1em;
    margin-top: 1em;
}
div.ui-header ul li.ui-block-a{
    width: 38%;
}
div.ui-header ul li.ui-block-b{
    width: 60%;
}
#menu-wap .ui-btn{
    color: #9a9a9a;
    padding: 1.2em 1em;
}
div#header {
    background-color: #098cd6;
}
#title-wap img{
    width: 90%;
}
#form-search{
    margin-top: 14px;
}
#form-search div:first-child{
    border-radius: 20px;
    border: none;
}
#form-search div.ui-input-search:after{
    right: .3125em;
    left: auto;
    width: 30px;
}
#form-search a{
    display: none;
}
#menu-wap .ui-btn-active{
    background-color: #FFF;
    border-color: #FFF;
    color: #098CD6;
    text-shadow: none;
}
#menu-wap .ui-btn:focus{
    box-shadow: 0px 0px #FFF;
}
.ui-tabs{
    padding: 0px;
}
.ui-navbar li .ui-btn{
    border-top: 0;
    border-bottom: 0;
    border-bottom-width: 0px;
}
.ui-bar-a{
    background-color: #FFFFFF;
    border-color: #FFF;
}
#height-menu-child{
    height: 34px;
    text-align: left;
    line-height: 38px;
    color: #098CD6;
    text-shadow: 0 0 #fff;
}
.ui-grid-d>.ui-block-a, .ui-grid-d>.ui-block-b, .ui-grid-d>.ui-block-c, .ui-grid-d>.ui-block-d, .ui-grid-d>.ui-block-e{
    width: auto;
}
.ui-block-a:hover, .ui-block-b:hover, .ui-block-c:hover, .ui-block-d:hover, .ui-block-e:hover{
    border-bottom: 2px #098cd6;
}
.ui-btn-active img{
    background-image: url('../image/ico_app_down.png');

}
#menu-wap .image-menu{
    text-align: center;
    margin: auto;
    display: inline-table;
    position: relative;
    top: 2px;
}
#menu-wap .menu-game{
    background-image: url('../image/ico_game_up.png');
    width: 22px;
    height: 14px;
}
#menu-wap .ui-btn-active .menu-game{
    background-image: url('../image/ico_game_down.png');
    width: 22px;
    height: 14px;
}
#menu-wap .menu-app{
    background-image: url('../image/ico_app_up.png');
    width: 14px;
    height: 14px;
}
#menu-wap .ui-btn-active .menu-app{
    background-image: url('../image/ico_app_down.png');
    width: 14px;
    height: 14px;
}
#menu-wap .menu-video{
    background-image: url('../image/ico_video_up.png');
    width: 16px;
    height: 16px;
}
#menu-wap .ui-btn-active .menu-video{
    background-image: url('../image/ico_video_down.png');
    width: 16px;
    height: 16px;
}
#menu-wap .menu-news{
    background-image: url('../image/ico_news_up.png');
    width: 16px;
    height: 14px;
}
#menu-wap .ui-btn-active .menu-news{
    background-image: url('../image/ico_news_down.png');
    width: 16px;
    height: 14px;
}
#tabs .ui-bar-a{
    border: 0px;
}
#tabs #height-menu-child{
    color: #9a9a9a;
    font-weight: normal;
}